@{ ViewBag.Title = "About"; }

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Code Interview Website" />
    <meta name="author" content="Jacob Arsenault" />
</head>
<body>
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Shop in style</h1>
                <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
            </div>
        </div>
    </header>
    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <h2>@ViewBag.Title.</h2>
            <h3>@ViewBag.Message</h3>
            <p>Use this area to provide additional information.</p>
        </div>
    </section>
    <address>
        <strong>Email:</strong>   <a href="mailto:jake.arsenault@hotmail.ca">jake.arsenault@hotmail.ca</a><br />
    </address>
</body>
</html>
